<form action="/users/edit" method="post">
    <input type="hidden" name="id" value=<%= user.id %>></input>
    <div>
        <label>Username:</label>
        <input type="text" name="username" value=<%= user.username %> ><br/>
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email" value=<%= user.email %> ><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <select name="trust" value=<%= user.trust %> >
          <option value="1">Simple utilisateur</option>
          <option value="2">Opérateur</option>
          <option value="3">Admin</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Créer"/>
    </div>
</form>
