<% if (message) { %>
<p><%= message %></p>
<% } %>
<form action="/users/login" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
<p><small>Admin - admin:password</small></p>
<p><small>Operator - operator:password</small></p>
<p><small>Simple User - user:password</small></p>