<form method="post" action="/login">
  <label for="username">Username</label>
  <input type="text" name="" id="username" />
  <label for="password">Password</label>
  <input type="password" name="" id="password" />
  <input type="submit" name="submit" value=<%= __('submit') %> />
</form>
